@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

* {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, button {
  cursor: revert;
}

ol, ul, menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

::-webkit-input-placeholder {
  color: unset;
}

::-moz-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

.bg {
  background: conic-gradient(from 180deg at 50% 50%, #E1523D 0deg, #ED8B16 360deg);
}

.full {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading {
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  font-size: 16px;
  color: #fff;
  background: #fff;
  font-family: "Press Start 2P", cursive;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
}
html a,
body a {
  text-decoration: none;
  color: #fff;
}
html li,
body li {
  list-style: none;
}

._container {
  max-width: 1480px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header__container {
  overflow: visible;
}
.header__body {
  margin-top: 52px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__list li a {
  position: relative;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__list li a:hover::before {
  width: 150px;
}
.header__list li a::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 130px;
  height: 2px;
  background: #fff;
  bottom: -10px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.home__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home__image {
  position: absolute;
  bottom: 200px;
  width: 300px;
  height: 300px;
  background: url(/source/home.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.education__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.education__title {
  text-align: center;
  margin-bottom: 62px;
}
.education__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 115px;
}
.education__info {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  text-align: justify;
}
.education__image {
  position: absolute;
  bottom: 0px;
  width: 250px;
  height: 250px;
  background: url(/source/educational.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.health__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.health__title {
  margin-bottom: 48px;
}
.health__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
}
.health__image {
  position: absolute;
  bottom: 200px;
  width: 180px;
  height: 180px;
  background: url(/source/health.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.me__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.me__heading {
  font-size: 59px;
  margin-bottom: 37px;
}
.me__date {
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 25px;
}
.me__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 25px;
}
.me__text:last-child {
  margin-bottom: 0px;
}
.me__image {
  position: absolute;
  bottom: 20px;
  width: 300px;
  height: 300px;
  background: url(/source/me.png);
  background-repeat: no-repeat;
  background-size: contain;
}